[user]
	name = haskyLue
	email = 
[http]
	; 用https协议的git url
	; proxy = http://127.0.0.1:8087
	; proxy = socks5://127.0.0.1:1080
[https]
	; proxy = http://127.0.0.1:8087
	; proxy = socks5://127.0.0.1:1080
	sslVerify = false
[color]
	ui = true
	status = auto
	branch = auto
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/hasky/.gitignore_global
[merge]
	tool = vimdiff
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[branch]
	autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
