<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>lynx.tmux.server</string>
		<key>ProgramArguments</key>
		<array>
			<!-- python版的cpu占用还是太高了点=.= -->
			<!-- <string>/usr/local/bin/python3</string> -->
			<!-- <string>/Users/hasky/Documents/.dotfile/tmux/tmux_statusbar_server/server.py</string> -->

			<string>/Users/hasky/Documents/.dotfile/tmux/tmux_statusbar_server/server.zsh</string>
		</array>
	</dict>
</plist>
