<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>tmux.statusbar.server</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/hasky/Documents/.dotfile/tmux/tmux_statusbar_server/server.sh</string>
		</array>
	</dict>
</plist>
