<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.hasky.init_ramdisk</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/hasky/Documents/devel/git/ArchDotfiles/script/create_ramdisk_osx.sh</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
