<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.shadowsocks.chinadns</string>
    <key>ProgramArguments</key>
    <array>
		<string>/usr/local/bin/chinadns</string>
      <string>-c</string>
	  <string>/Users/hasky/Documents/devel/git/ArchDotfiles/chinadns/chnroute.txt</string>
      <string>-p</string>
      <string>5335</string>
      <string>-m</string>
      <!-- <string>&#45;v</string> -->
      <string>-s</string>
      <string>10.3.9.4,10.3.9.5,114.114.114.114,223.5.5.5,127.0.0.1:54,208.67.222.222:443,8.8.8.8</string>
      <!-- <string>114.114.114.114,223.5.5.5,127.0.0.1:54,208.67.222.222:443</string> -->
    </array>
	<!-- <key>StandardOutPath</key> -->
	<!-- <string>/Volumes/Caches/chinadns.log</string> -->
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>
  </dict>
</plist>
